
.header {
  font-weight: 600;
  font-size: 2.3em;
  color: #6b6b6b;
  line-height:1;
}

.small {
  font-weight: 200;
  font-size: 1.3em;
  color: #6b6b6b;
  line-height:.75;
  letter-spacing: .08em;
  line-height:1;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }