Computer logic
What: Logicon sharks and concepts technology is built on
Why: while the specifics of code can be confoundingly complex, understanding a few simple concepts can make navigating tech more intuitive and so much easier not to mention stepping up your game with Excel and Google spreadsheets in a really big way

Disclaimer:
This is not a tutorial on Excel for excel help over Google spreadsheet help go to links

Format:
The concept, the syntax, use case, example
Content: a note about syntax and functions
Conditional formatting, if this than that
Strings
Strings plus mass
Equals some
Cell as variable equals B2 plus CA
Can Kat and split
If true then, if Olson,
The final range if true, ethyls