A Home Cooked Webpage: How to combine HTML, CSS, and JavaScript into one tasty page.

HTML
HTML is as one of my favorite developers likes to say the bones of the Internet
I like to think of it as my closet organizing system I have a section for shoes skirts dress up and so on some things get hangers some good boxes others get shelves there is hierarchy in systems for Lestin categories

Somethings act like boxes with parameters that allow anything of a certain type to go in and others are only for certain specific items
If you rent if you want an accurate analogy without any poetic dressing think an HTML is an outline for a webpage
Image of this blog post without CSS
This is what you this is what you are reading looks like with just HTML CSS is the interior designer and style guide in our in one

Simplify diagram of webpage
Screenshot of file directory
HTML tag: this is important to Google each one tag this is important to Google content here is often displayed in search results

JavaScript
Backend