Your first assignment play with the "Inspect Element feature in your browser.

Why this is important:
One is really fun and funny to change stuff on websites don't worry it's not actually changing anything and it's entirely temporary
To it how you see what's going on inside a website Adderley critical for troubleshooting what end-users or the people who look at and use websites see
Three you can't really understand how the Internet works unless you take time to see how all the pieces fit together
For there is a ton of additional information about the website and the organ or business who made it that can be very helpful for all kinds of reasons not the least of which is an easy site search when there's no site map and the normal view or when things break and you can't find the info you need
So here's how to inspect element

How to inspect element and use the search feature in Chrome Firefox Safari and explore
But am I looking at
There are three major components in the inspect element of you
One HTML
To CSS
Three JavaScriptWill going to what these are in another post for now let's just try something fun
Change this blog post title to your name is awesome
Okay now take a screenshot so you can send this to your friends and impress them with your taking us or better still tell them you're famous by putting your name into the news
Example
 how to do a screenshot on the Mac or PC
Finally in case you were worried refresh the page and watch your team just disappear
Why and how this works
The browser is an app on your computer the request webpages from servers more on this later and displays them for you on your computer

Because the browser is an app on your computer just like Word or Excel or account once a gets the webpage from the Internet and displays it for you you have a copy or version on your machine it's like opening a Word doc from your email once you open it you can change it and unless you save your changes the next time you open it it won't show you any of the changes he just made

The big difference in this example is that word is designed to save your changes and will prompt you to do so well brazzers not refreshing the page is like reopening that word doc from your email again the browser gets a fresh copy from the server
Sidenote you can save a webpage but we have a lot of other things to cover until that will be helpful