---
layout: default
---
<section class="eleven columns">
  <article class="blog-single-post"> <img src="{{ page.image-main }}" alt=""><br>
    <div class="post">
      <div class="postmetadata">
        <h6 class="blog-author">{{ page.date | date: '%B %d %Y' }} / <strong>by</strong>  {{ page.author }} / <strong>in</strong> <a href="{{ page.category }}.html">{{ page.category_title }}</a></h6>
      </div>
      <h1>{{ page.title }}</h1>
      <p> {{ page.content }}</p>
      <br class="clear">
      <hr class="boldbx">
    </div>
  </article>

</section>
<!-- end-main-content -->

<div class="post">

<!--   <header class="post-header">
    <h1 class="post-title">{{ post.title }}</h1>
  </header> -->

  <article class="blog-post">
    <div class="one columns alpha">
      <div class="blog-date-sec"> <span>{{ post.date | date: '%B' }} | </span>
        <h3>{{ post.date | date: '%d' }} 09</h3>
        <span>{{ post.date | date: '%Y' }} 2013</span>
      </div>
    </div>
    <div class="four columns alpha">
      <img src="/assets/images/blog-post-pic1-1.jpg" alt=""><br>
    </div>
    <div class="six columns omega">
      <h3><a href="blog-single.html">Job Seeking Out of Your Industry</a></h3>
      <div class="postmetadata">
        <h6 class="blog-author"><strong>by</strong> John Smith </h6>
        <h6 class="blog-cat"><strong>in</strong> Business, News, Company </h6>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. interdum sit Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis…
      </p>
      <a href="blog-single.html"  class="readmore">read more</a>
    </div>
    <br class="clear">
  </article>

  <article class="blog-post">
    <div class="one columns alpha">
      <div class="blog-date-sec"> <span>AUG</span>
        <h3>08</h3>
        <span>2013</span>
      </div>
    </div>
    <div class="four columns alpha">
      <img src="/assets/images/blog-post-pic2-2.jpg" alt=""><br>
    </div>
    <div class="six columns omega">
      <h3><a href="blog-single.html">What Your College Degree Will Be Worth</a></h3>
      <div class="postmetadata">
        <h6 class="blog-author"><strong>by</strong> John Smith </h6>
        <h6 class="blog-cat"><strong>in</strong> Business, News, Company </h6>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. interdum sit Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis…
      </p>
      <a href="blog-single.html"  class="readmore">read more</a>
    </div>
    <br class="clear">
  </article>

  <article class="blog-post">
    <div class="one columns alpha">
      <div class="blog-date-sec"> <span>AUG</span>
        <h3>07</h3>
        <span>2013</span>
      </div>
    </div>
    <div class="four columns alpha">
      <iframe src="http://player.vimeo.com/video/27973852?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=iframe334" height="300" allowfullscreen></iframe>
      <br>
    </div>
    <div class="six columns omega">
      <h3><a href="blog-single.html">The Street Aesthetic of New York City</a></h3>
      <div class="postmetadata">
        <h6 class="blog-author"><strong>by</strong> John Smith </h6>
        <h6 class="blog-cat"><strong>in</strong> Business, News, Company </h6>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. interdum sit Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis…
      </p>
      <a href="blog-single.html"  class="readmore">read more</a>
    </div>
    <br class="clear">
  </article>

  <article class="blog-post">
    <div class="one columns alpha">
      <div class="blog-date-sec"> <span>AUG</span>
        <h3>06</h3>
        <span>2013</span>
      </div>
    </div>
    <div class="four columns alpha">
      <iframe height="300" src="http://www.youtube.com/embed/xaSH0d60Zso?feature=player_detailpage" allowfullscreen></iframe>
      <br>
    </div>
    <div class="six columns omega">
      <h3><a href="blog-single.html">How to do Levitation Photography</a></h3>
      <div class="postmetadata">
        <h6 class="blog-author"><strong>by</strong> John Smith </h6>
        <h6 class="blog-cat"><strong>in</strong> Business, News, Company </h6>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. interdum sit Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis…
      </p>
      <a href="blog-single.html"  class="readmore">read more</a>
    </div>
    <br class="clear">
  </article>


</div>
