<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="container page-content" >
      <hr class="vertical-space3">
      <section class="eleven columns">

      {{ content }}

      </section>
      <!-- end-main-content -->
      <aside class="four columns offset-by-one sidebar">
        <hr class="vertical-space2">
        <h4 class="subtitle">Categories</h4>
        <div class="listbox1">
          <ul>
            <li><a href="/internet.html">How the Internet Works</a></li>
            <li><a href="/tech-matters.html">Why Tech Matters</a></li>
            <li><a href="/tools.html">Evaluating Tools & Resources</a></li>
            <li><a href="/ed-tech.html">EdTech</a></li>
          </ul>
        </div>
        <!-- end-listbox1 -->
        <br class="clear">
        <h4 class="subtitle">Recent Posts</h4>
        <div class="listbox1">
          <ul>
            {% for post in site.posts | limit:20 %}
            <li><a href="{{ post.url }}"> {{post.date | date: '%b. %d, %Y' }} {{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- end-listbox1 -->
        <br class="clear">
        <h4 class="subtitle">Have Questions or Feedback?</h4>
        <p>If you have any questions or comments or generally feedback, I invite you to tweet at me. My twitter handle is <a href="https://twitter.com/ELauerVose" target="_blank">@elauervose</a>.
        <br>
        I will do my very best to respond, answer questions, and/or find someone who can help if I can't!</p>
        <br class="clear">
      </aside>
      <!-- end-sidebar-->
      <br class="clear">
    </section>

    {% include footer.html %}

    <span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span> </div>
    <!-- end-wrap -->
    <!-- End Document
    ================================================== -->
    <script type="text/javascript" src="/js/mexin-custom.js" ></script>
    <script type="text/javascript" src="/js/doubletaptogo.js" ></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="/js/jquery.sticky.js"></script>
  </body>
</html>