<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

  {% include head.html %}

  <body>

    {% include header.html %}

      {{ content }}

    {% include footer.html %}

    <span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span> </div>
    <!-- end-wrap -->
    <!-- End Document
    ================================================== -->
    <script type="text/javascript" src="/js/mexin-custom.js" ></script>
    <script type="text/javascript" src="/js/doubletaptogo.js" ></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="/js/jquery.sticky.js"></script>
  </body>
</html>